<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>

  <body>
  <% include layout.ejs %>
  <div class="container">
  <h1>About us</h1>
  <p> Our company ....</p>
  </div>
   
  </body>
</html>